# -*- coding: utf-8 -*-
"""
Created on Tue Nov  7 12:25:02 2023

@author: Alberto
"""

<!DOCTYPE html>
<html>
<head>
    <title>Formulario de Usuario y Contraseña</title>
</head>
<body>
    <h2>Iniciar Sesión</h2>
    <form action="/home/2asir/Documentos/Tareas/01_Implantación/00_Introduccion_a_python/04_Python + Formulario HTML-20241115/app.py" method="post">
        <label for="usuario">Usuario:</label>
        <input type="text" id="usuario" name="usuario" required><br><br>

        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" required><br><br>

        <input type="submit" value="Iniciar Sesión">
    </form>
</body>

{{ user }}

{{ password }}

</html>