# -*- coding: utf-8 -*-
"""
Created on Tue Nov  7 12:25:02 2023

@author: Alberto
"""

<!DOCTYPE html>
<html>
<head>
    <title>Formulario de IMC</title>
</head>
<body>
    <h2>Calculadora</h2>
    <form action="/" method="post">
        <label for="altura">Altura(M):</label>
        <input type="text" id="altura" name="altura" required><br><br>

        <label for="peso">Peso(Kg):</label>
        <input type="text" id="peso" name="peso" required><br><br>

        <input type="submit" value="Calcular">
    </form>
</body>
{{imc}}
{{IMC}}

</html>